
*.vsidx
*.db
*.ipch
*.lastbuildstate
*.tlog
*.obj
*.log
*.idb
*.pdb
*.recipe
*.iobj
*.ipdb
*.res
*.aps
*.txt
*.exe
.vs/AntiCheat/v17/DocumentLayout.json
.vs/AntiCheat/v17/Browse.VC.opendb
.vs/AntiCheat/v17/Browse.VC.db-wal
.vs/AntiCheat/v17/Browse.VC.db-shm
.vs/AntiCheat/v17/.suo
x64/Debug/CDSixWKdXYHVsenNZs.jpg
*.jpg
*.rar
*.db-wal
*.ilk
*.enc
*.bin
*.db-shm
/.vs
/x64
/x64
*.bmp
